body{
    background-color:#ffff;
}

#navbar{
padding: 2%;
}

.navcontent{
    float: left;
    color: #ffff;
    text-decoration: none;
    font-size: large;
    font-style: italic;
    font-family:'Courier New', Courier, monospace
}




#welcome{
    text-align: center;
    color: darkslategray;
    font-family:'Courier New', Courier, monospace


}

#bienvenida{
margin-top: 5%;
}

.caja{
    width:20%;
    float:left ;
    margin-bottom: 3%;
    margin-inline-end: 1%;
    margin-left: 3.5%;
    margin-top: 5%;
    }

#caja img:hover{

    transform: scale(1.1);
            transition: all;
            transition-duration:1.0s;
            cursor: pointer;
        
}




 

